<!DOCTYPE html>
<html>
    <body>
        <h1>Self Test for RPless People</h1>
        <p>
            Test link performs all possible phases: webfinger, dynamic registration and code flow using scope openid+email.     
        </p>
        <p>
        <ul>
        <li>Webfinger user:<b>teppo@192.168.0.150</b> </li>
        <li>Username for Shibboleth Login page:<b>teppo</b></li>
        <li>Password for Shibboleth Login page:<b>testaaja</b></li>
        <ul>
        </p>
        <a href="https://192.168.0.150:8443/protected/">Authenticate</a><br>
    </body>
</html>
